# macOS resource forks (always ignore everywhere)
.DS_Store
._*
**/._*

# IDE
# .vscode/

# Build outputs
*.o
*.out
*.exe
*.dat
*.log
main

# Output directory - 完全忽略
output/
*.vtk

*.dSYM/
# CUDA compiled
*.cubin
*.ptx

# Git internal junk
.git/objects/pack/._*
